@media (max-width: 550px) {
  .match {
    padding: 0 0.5em;
  }
  .match-name {
    font-size: 1.25em;
  }
  .player {
    font-size: 0.75em;
  }
}

@media (max-width: 350px) {
  .score {
    font-size: 0.75em;
  }
  .player {
    font-size: 0.5em;
  }
}
